table tr th {
    background: #007bff;
    color: white;
    text-align: left;
    vertical-align: center;
}

button {
    position: absolute;
    right: 1%;
}

.panel-header {
    font-size: 25pt;
    margin-left: 36%;
    margin-top: 2%;
    margin-bottom: 2%;
}