<div *ngIf="currentUser && isAdmin">
    <div class="row d-flex justify-content-end">
        <button class=" btn btn-primary" routerLink="/createNewRole">New Role</button>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-header">Roles List</h2>
        </div>
        <div class="panel-body">
            <table id="groupTable" class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roleList">
                        <td data-label="Group" *ngIf="role.name">
                            <app-modal-basic [options]="role" [label]="label"></app-modal-basic> {{role.name}}
                        </td>
                        <td data-label="Group" *ngIf="!role.name"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>